@import '../../App.scss';

.room{
    border: 1px solid $light;
    padding: 1rem;
    width: 60%;
    text-align: center;
    border-radius: 5px;
    color: $light;
    text-transform: uppercase;
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    input{
        padding: 0.5rem 1rem;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: $light;
        color: $dark;
        text-transform: capitalize;
    }
}

button{
    padding: 0.5rem 2rem;
    background-color: $primary;
    color: $dark;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;

    &:hover{
        background-color: $light;
        color: $dark;
    }
}
.signout{
    text-align: center;
}
