@import '../../App.scss';

.header {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    a {
        text-decoration: none;
        outline: none;
        border: none;
        background: none;
        color: inherit;
        font: inherit;
        text-transform: uppercase;
    }

    .header__logo {
        flex: 1;
        padding-left: 2%;
        font-size: 3rem;
        margin: 1rem 0 0 0;
    }
}
