@import '../../App.scss';

.header {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;

    .logo {
        width: 50%;
        padding-left: 2%;
        font-size: 1.2rem;
    }

    .nav {
        width: 50%;
        font-size: 0.9rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-right: 2%;

        .nav-item {
            padding: 0 10px;
            cursor: pointer;
            color: $primary;
            transition: all 0.3s ease-in-out;
            
            &:hover {
                color: $light;
            }

            &:active,
            &:focus  {
                color: $light;
            }
        }
    }
}

