@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

$light: #fff;
$dark: #000;
$primary: #f2c94c;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $dark;
    color: $light;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 5px;
}

a{
    text-decoration: none;
}
